$color_system_red_base: #E02E3F;
$color_system_red_darker_30: #9D202C;
$color_system_red_darker_50: #70171F;
$color_system_red_darker_70: #430E13;
$color_system_red_lighter_70: #F6C0C5;
$color_system_red_lighter_50: #F0969F;
$color_system_red_lighter_30: #E96D79;
$color_system_purple_base: #7B4DE7;
$color_system_purple_darker_30: #5636A2;
$color_system_purple_darker_50: #3D2674;
$color_system_purple_darker_70: #251745;
$color_system_purple_lighter_70: #D7CAF8;
$color_system_purple_lighter_50: #BDA6F3;
$color_system_purple_lighter_30: #A382EE;
$ccolor_system_orchid_base: #AA45DC;
$color_system_orchid_darker_30: #77309A;
$color_system_orchid_darker_50: #55226E;
$color_system_orchid_darker_70: #331542;
$color_system_orchid_lighter_70: #E5C7F5;
$color_system_orchid_lighter_50: #D4A2EE;
$color_system_orchid_lighter_30: #C37DE7;
$color_system_dark_blue_base: #1544B5;
$color_system_dark_blue_darker_30: #0F307F;
$color_system_dark_blue_darker_50: #23386B;
$color_system_dark_blue_darker_70: #1F2C4A;
$color_system_dark_blue_lighter_70: #B9C7E9;
$color_system_dark_blue_lighter_50: #8AA1DA;
$color_system_dark_blue_lighter_30: #5B7CCB;
$color_system_yellow_base: #E8AE00;
$color_system_yellow_darker_30: #A27A00;
$color_system_yellow_darker_50: #82681A;
$color_system_yellow_darker_70: #59481A;
$color_system_yellow_lighter_70: #F8E7B2;
$color_system_yellow_lighter_50: #F4D780;
$color_system_yellow_lighter_30: #EFC64C;
$color_system_turquoise_base: #1ABC9C;
$color_system_turquoise_darker_30: #12846D;
$color_system_turquoise_darker_50: #256E60;
$color_system_turquoise_darker_70: #214C44;
$color_system_turquoise_lighter_70: #BAEBE1;
$color_system_turquoise_lighter_50: #8CDECE;
$color_system_turquoise_lighter_30: #5FD0BA;
$color_system_green_base: #4CB458;
$color_system_green_darker_30: #357E3E;
$color_system_green_darker_50: #3C6B41;
$color_system_green_darker_70: #2E4A31;
$color_system_green_lighter_70: #C9E9CD;
$color_system_green_lighter_50: #A5DAAB;
$color_system_green_lighter_30: #82CB8A;
$color_system_orange_base: #F08C00;
$color_system_orange_darker_30: #A86200;
$color_system_orange_darker_50: #85591A;
$color_system_orange_darker_70: #5A3F1A;
$color_system_orange_lighter_70: #FBDDB2;
$color_system_orange_lighter_50: #F8C680;
$color_system_orange_lighter_30: #F5AF4C;
$color_system_gray_base: #BABFC0;
$color_system_blue_base: #209ED2;
$color_system_blue_darker_30: #166F93;
$color_system_blue_darker_50: #286178;
$color_system_blue_darker_70: #234452;
$color_system_blue_lighter_70: #BCE2F1;
$color_system_blue_lighter_50: #8FCFE9;
$color_system_blue_lighter_30: #63BBE0;
$color_system_error_base: #E02E3F;
$color_system_error_darker_30: #9D202C;
$color_system_error_darker_50: #70171F;
$color_system_error_darker_70: #430E13;
$color_system_error_lighter_70: #F6C0C5;
$color_system_error_lighter_50: #F0969F;
$color_system_error_lighter_30: #E96D79;
$color_system_success_base: #4CB458;
$color_system_success_darker_30: #357E3E;
$color_system_success_darker_50: #3C6B41;
$color_system_success_darker_70: #2E4A31;
$color_system_success_lighter_50: #A5DAAB;
$color_system_success_lighter_30: #82CB8A;
$color_system_success_lighter_70: #C9E9CD;
$color_system_information_base: #1544B5;
$color_system_information_darker_30: #0F307F;
$color_system_information_darker_50: #23386B;
$color_system_information_darker_70: #1F2C4A;
$color_system_information_lighter_70: #B9C7E9;
$color_system_information_lighter_50: #8AA1DA;
$color_system_information_lighter_30: #5B7CCB;
$color_system_warning_base: #E8AE00;
$color_system_warning_darker_30: #A27A00;
$color_system_warning_darker_50: #82681A;
$color_system_warning_darker_70: #59481A;
$color_system_warning_lighter_70: #F8E7B2;
$color_system_warning_lighter_50: #F4D780;
$color_system_warning_lighter_30: #EFC64C;
$arkhe_color_brand_secundary_lighter_70: #D1D1D1;
$arkhe_color_brand_secundary_darker_50: #333332;
$arkhe_color_brand_secundary_darker_30: #474846;
$arkhe_color_brand_secundary_base: #656764;
$arkhe_color_brand_secundary_lighter_30: #939593;
$arkhe_color_brand_secundary_lighter_50: #B2B3B2;
$arkhe_color_brand_secundary_darker_70: #1E1F1E;
$atech_color_brand_primary_base: #0E73BA;
$atech_color_accent_primary_darker_30: #095081;
$atech_color_accent_primary_darker_50: #06395C;
$atech_color_accent_primary_darker_70: #042237;
$atech_color_accent_primary_lighter_70: #B7D5EA;
$atech_color_accent_primary_lighter_50: #86B9DC;
$atech_color_accent_primary_lighter_30: #569DCE;
$atech_color_brand_tertiary_base: #242421;
$atech_color_brand_tertiary_darker_30: #191917;
$atech_color_brand_tertiary_darker_50: #111110;
$atech_color_brand_tertiary_darker_70: #0B0B0A;
$atech_color_brand_tertiary_lighter_70: #BDBDBC;
$atech_color_brand_tertiary_lighter_50: #919190;
$atech_color_brand_tertiary_lighter_30: #666664;
$atech_color_brand_secondary_base: #C6C6C6;
$atech_color_brand_secondary_darker_30: #8B8B8B;
$atech_color_brand_secondary_darker_50: #636363;
$atech_color_brand_secondary_darker_70: #3B3B3B;
$atech_color_brand_secondary_lighter_70: #EEEEEE;
$atech_color_brand_secondary_lighter_50: #E3E3E3;
$atech_color_brand_secondary_lighter_30: #D7D7D7;
$atech_color_brand_primary_base: #009CB4;
$atech_color_brand_primary_darker_30: #006D7E;
$atech_color_brand_primary_darker_50: #004E5A;
$atech_color_brand_primary_darker_70: #002F36;
$atech_color_brand_primary_lighter_70: #B2E1E9;
$atech_color_brand_primary_lighter_50: #80CEDA;
$atech_color_brand_primary_lighter_30: #4CBACB;
$makron_color_brand_primary_base: #369FCC;
$makron_color_accent_primary_darker_30: #266F8F;
$makron_color_accent_primary_darker_50: #1B4F66;
$makron_color_accent_primary_darker_70: #10303D;
$makron_color_accent_primary_lighter_70: #C3E2F0;
$makron_color_accent_primary_lighter_50: #9ACFE6;
$makron_color_accent_primary_lighter_30: #72BCDB;
$makron_color_brand_tertiary_base: #656764;
$makron_color_brand_tertiary_darker_30: #474846;
$makron_color_brand_tertiary_darker_50: #333332;
$makron_color_brand_tertiary_darker_70: #1E1F1E;
$makron_color_brand_tertiary_lighter_70: #D1D1D1;
$makron_color_brand_tertiary_lighter_50: #B2B3B2;
$makron_color_brand_tertiary_lighter_30: #939593;
$makron_color_brand_secondary_base: #246CA7;
$makron_color_brand_secondary_darker_30: #194C75;
$makron_color_brand_secondary_darker_50: #123653;
$makron_color_brand_secondary_darker_70: #0B2032;
$makron_color_brand_secondary_lighter_50: #91B6D3;
$makron_color_brand_secondary_lighter_30: #6698C1;
$makron_color_brand_primary_base: #369FCC;
$makron_color_brand_primary_darker_30: #266F8F;
$makron_color_brand_primary_darker_50: #1B4F66;
$makron_color_brand_primary_darker_70: #10303D;
$makron_color_brand_primary_lighter_70: #C3E2F0;
$makron_color_brand_primary_lighter_50: #9ACFE6;
$makron_color_brand_primary_lighter_30: #72BCDB;
$okto_color_brand_tertiary_base: #656764;
$okto_color_brand_tertiary_darker_30: #474846;
$okto_color_brand_tertiary_darker_50: #333332;
$okto_color_brand_tertiary_darker_70: #1E1F1E;
$okto_color_brand_tertiary_lighter_70: #D1D1D1;
$okto_color_brand_tertiary_lighter_50: #B2B3B2;
$okto_color_brand_tertiary_lighter_30: #939593;
$okto_color_brand_secondary_base: #246CA7;
$okto_color_brand_secondary_darker_30: #194C75;
$okto_color_brand_secondary_darker_50: #123653;
$okto_color_brand_secondary_darker_70: #0B2032;
$okto_color_brand_secondary_lighter_50: #91B6D3;
$okto_color_brand_secondary_lighter_30: #6698C1;
$okto_color_brand_primary_base: #369FCC;
$okto_color_brand_primary_darker_30: #266F8F;
$okto_color_brand_primary_darker_50: #1B4F66;
$okto_color_brand_primary_darker_70: #10303D;
$okto_color_brand_primary_lighter_70: #C3E2F0;
$okto_color_brand_primary_lighter_50: #9ACFE6;
$okto_color_brand_primary_lighter_30: #72BCDB;
$atech-color-gradient-primary:(#009bb4,#0e73ba);
$arkhe-academy_color-gradient-primary:(#4b8e53,#35643a);
$arkhe-intelligence_color-gradient-primary:(#d2c860,#938c43);
$arkhe-cyber_color-gradient-primary:(#29afa6,#1d7b75);
$arkhe-mission_combat_color-gradient-primary:(#ec9434,#a66825);
$arkhe-command_control_color-gradient-primary:(#921a1d,#661214);
$okto-color-gradient-primary:(#369fcc,#246ca7);
$makron-color-gradient-primary:(#369fcc,#246ca7);
