$rectangle_1: #000000;
$rectangle_5: #C4C4C4;
$rectangle_8: #C4C4C4;
$rectangle_7: #C4C4C4;
$rectangle_6: #C4C4C4;
$rectangle_4: #C4C4C4;
$rectangle_3: #C4C4C4;
$rectangle_2: #1B2A2E;
$atech_brand_primary_intelligence_lighter_30: #000000;
$rectangle_5: #C4C4C4;
$rectangle_8: #C4C4C4;
$rectangle_7: #C4C4C4;
$rectangle_6: #C4C4C4;
$rectangle_4: #C4C4C4;
$rectangle_3: #C4C4C4;
$rectangle_2: #1B2A2E;
$rectangle_1: #000000;
$rectangle_5: #C4C4C4;
$rectangle_8: #C4C4C4;
$rectangle_7: #C4C4C4;
$rectangle_6: #C4C4C4;
$rectangle_4: #C4C4C4;
$rectangle_3: #C4C4C4;
$rectangle_2: #1B2A2E;
$atech_brand_primary_intelligence_lighter_30: #000000;
$rectangle_5: #C4C4C4;
$rectangle_8: #C4C4C4;
$rectangle_7: #C4C4C4;
$rectangle_6: #C4C4C4;
$rectangle_4: #C4C4C4;
$rectangle_3: #C4C4C4;
$rectangle_2: #1B2A2E;
$rectangle_1: #000000;
$rectangle_5: #C4C4C4;
$rectangle_8: #C4C4C4;
$rectangle_7: #C4C4C4;
$rectangle_6: #C4C4C4;
$rectangle_4: #C4C4C4;
$rectangle_3: #C4C4C4;
$rectangle_2: #1B2A2E;
$rectangle_1: #53E40F;
$rectangle_5: #53E40F;
$rectangle_8: #53E40F;
$rectangle_7: #53E40F;
$rectangle_6: #53E40F;
$rectangle_4: #53E40F;
$rectangle_3: #53E40F;
$rectangle_2: #53E40F;
$rectangle_1: #000000;
$rectangle_5: #C4C4C4;
$rectangle_8: #C4C4C4;
$rectangle_7: #C4C4C4;
$rectangle_6: #C4C4C4;
$rectangle_4: #C4C4C4;
$rectangle_3: #C4C4C4;
$rectangle_2: #1B2A2E;
$rectangle_1: #000000;
$rectangle_5: #C4C4C4;
$rectangle_8: #C4C4C4;
$rectangle_7: #C4C4C4;
$rectangle_6: #C4C4C4;
$rectangle_4: #C4C4C4;
$rectangle_3: #C4C4C4;
$rectangle_2: #1B2A2E;
$rectangle_1: #000000;
$rectangle_5: #C4C4C4;
$rectangle_8: #C4C4C4;
$rectangle_7: #C4C4C4;
$rectangle_6: #C4C4C4;
$rectangle_4: #C4C4C4;
$rectangle_3: #C4C4C4;
$rectangle_2: #1B2A2E;
$rectangle_1: #000000;
$rectangle_5: #C4C4C4;
$rectangle_8: #C4C4C4;
$rectangle_7: #C4C4C4;
$rectangle_6: #C4C4C4;
$rectangle_4: #C4C4C4;
$rectangle_3: #C4C4C4;
$rectangle_2: #1B2A2E;
$rectangle_1: #000000;
$rectangle_5: #C4C4C4;
$rectangle_8: #C4C4C4;
$rectangle_7: #C4C4C4;
$rectangle_6: #C4C4C4;
$rectangle_4: #C4C4C4;
$rectangle_3: #C4C4C4;
$rectangle_2: #1B2A2E;
$rectangle_1: #000000;
$rectangle_5: #C4C4C4;
$rectangle_8: #C4C4C4;
$rectangle_7: #C4C4C4;
$rectangle_6: #C4C4C4;
$rectangle_4: #C4C4C4;
$rectangle_3: #C4C4C4;
$rectangle_2: #1B2A2E;
$rectangle_1: #000000;
$rectangle_5: #C4C4C4;
$rectangle_8: #C4C4C4;
$rectangle_7: #C4C4C4;
$rectangle_6: #C4C4C4;
$rectangle_4: #C4C4C4;
$rectangle_3: #C4C4C4;
$rectangle_2: #1B2A2E;
$rectangle_1: #000000;
$rectangle_5: #C4C4C4;
$rectangle_8: #C4C4C4;
$rectangle_7: #C4C4C4;
$rectangle_6: #C4C4C4;
$rectangle_4: #C4C4C4;
$rectangle_3: #C4C4C4;
$rectangle_2: #1B2A2E;
