@font_face {
  font-family: Roboto Mono
  src: url(path_da_font);
  font-weight:400;
}

.code_01{
  font-family: Roboto Mono
  font-weight:400;
  font-size:12px;
  line-height:18px;
}

@font_face {
  font-family: Roboto Mono
  src: url(path_da_font);
  font-weight:400;
}

.code_02{
  font-family: Roboto Mono
  font-weight:400;
  font-size:14px;
  line-height:21px;
}

@font_face {
  font-family: Roboto
  src: url(path_da_font);
  font-weight:500;
}

.label_01{
  font-family: Roboto
  font-weight:500;
  font-size:12px;
  line-height:18px;
}

@font_face {
  font-family: Roboto
  src: url(path_da_font);
  font-weight:400;
}

.helper_text_01{
  font-family: Roboto
  font-weight:400;
  font-size:12px;
  line-height:18px;
}

@font_face {
  font-family: Roboto
  src: url(path_da_font);
  font-weight:400;
}

.body_02{
  font-family: Roboto
  font-weight:400;
  font-size:14px;
  line-height:21px;
}

@font_face {
  font-family: Roboto
  src: url(path_da_font);
  font-weight:400;
}

.body_01{
  font-family: Roboto
  font-weight:400;
  font-size:12px;
  line-height:18px;
}

@font_face {
  font-family: Roboto
  src: url(path_da_font);
  font-weight:400;
}

.body_03{
  font-family: Roboto
  font-weight:400;
  font-size:16px;
  line-height:24px;
}

@font_face {
  font-family: Roboto
  src: url(path_da_font);
  font-weight:500;
}

.h6{
  font-family: Roboto
  font-weight:500;
  font-size:18px;
  line-height:27px;
}

@font_face {
  font-family: Roboto
  src: url(path_da_font);
  font-weight:500;
}

.h5{
  font-family: Roboto
  font-weight:500;
  font-size:20px;
  line-height:25px;
}

@font_face {
  font-family: Roboto
  src: url(path_da_font);
  font-weight:700;
}

.h4{
  font-family: Roboto
  font-weight:700;
  font-size:24px;
  line-height:30px;
}

@font_face {
  font-family: Roboto
  src: url(path_da_font);
  font-weight:700;
}

.h3{
  font-family: Roboto
  font-weight:700;
  font-size:32px;
  line-height:40px;
}

@font_face {
  font-family: Roboto
  src: url(path_da_font);
  font-weight:700;
}

.h2{
  font-family: Roboto
  font-weight:700;
  font-size:42px;
  line-height:52px;
}

@font_face {
  font-family: Roboto
  src: url(path_da_font);
  font-weight:700;
}

.h1{
  font-family: Roboto
  font-weight:700;
  font-size:54px;
  line-height:67px;
}

