$box-shadow-5:0.0px 24.0px 48.0px 0px rgba(0, 0, 0, 0.25);
$box-shadow-4:0.0px 16.0px 32.0px 0px rgba(0, 0, 0, 0.25);
$box-shadow-3:0.0px 8.0px 16.0px 0px rgba(0, 0, 0, 0.25);
$box-shadow-2:0.0px 4.0px 8.0px 0px rgba(0, 0, 0, 0.25);
$box-shadow-1:0.0px 2.0px 2.0px 0px rgba(0, 0, 0, 0.25);
$base:0;
